
/* PC  */
@media (min-width:1024px) {

    

}

/* Tablet & Mobile  */

@media (max-width:1023px) {
    /* SIDEBAR  */
    .side-bar {
        display: none;

    }
    
    /* BODY  */
    #content,.container {
        width: 100%;   
        margin-left: initial; 
    }


    .back-to-user__btn {
        display: flex;
    }

    .body__util {
        position: relative;
    }

    .pagination__holder {
        position: absolute;
        right: 20px;
        width: auto;
    }

}


/* Tablet */
@media (min-width:740px) and (max-width : 1023px){
   
    

    .side-bar__logo {

        width: 50%;

    }
    .side-bar__image {

        width: 100%;
        height: 40px;

    }
    .show-select,.search-bar {
        width: 50%;
    }

    .select,.search-input{

    }

}

/* Mobile  */

@media (max-width:740px) {

    .side-bar--mobile {
        display: none;
    }
    .spc-even--mobile {
        justify-content: space-evenly;
    }

    .side-bar__item {

        padding: 16px 0px;
    }

    .side-bar__item:hover {

        background-color: rgba(0, 0, 0, 0.4);
      
    }
    
    .side-bar__item a {
        display: block;
        width: 100%;
        
    }

    
    .body__util.row {
        flex-direction: column;
    }
    .color--price {
        background-color: #00A39E;
        color: #e7e7e7;
        line-height: 42px;
        font-size: large;
    }
    .color--id {
        background-color: #e7e7e7;
        color:  #cc2424;
        line-height: 42px;
    }
    .select,.search-input {

        padding: 10px 0px;
    }
    .show-select::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #242424;
    }

    .table__header {
        display: none!important;
    }

}