*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  line-height: 2rem;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  background-color: var(--theme-color);
  color: var(--text-color);
  font-family: var(--font-text);
  font-size: 1.6rem;
  font-weight: 600;
  scroll-behavior: smooth;
}

img,
svg,
video,
canvas,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
select,
textarea {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
 
:root {
  --primary-color: #cc2424;
  --theme-color:#cccccc;
  --text-color:#3b3b3b;
  --font-text: 'Inter', sans-serif;
}

.wrapper {
  background-color: var(--text-color);
  position: absolute;
  left: 0;
  right: 0;
}

.mt-4 {
  margin-top: 4px!important;
}

.mt-16{
  margin-top: 16px!important;
}

.mb-16 {
  margin-bottom: 16px!important;
}

.ml-16 {
  margin-left: 16px!important;
}

.mr-16 {
  margin-right: 16px!important;
}

.mt-32{
  margin-top: 32px!important;
}

.mb-32{
  margin-bottom: 32px!important;
}

.pt-16{
  padding-top: 16px!important;
}

.js-mid {
  justify-content: center;
}

.spc-btw {
  justify-content: space-between;
}

.even-spc{
  justify-content: space-evenly;
}

.center-text {
  text-align: center;
}

.end-row {
  justify-content: flex-end;
}

.close {
  display: none;
}

.btn {
  padding: 2px 10px;
  border-radius: 15px;
  border: none;
}


/* Side bar */
.side-bar {
  background-color: var(--theme-color);
  width: 70px;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  box-sizing: initial;
  border-radius: 10px;
  transition:  width 0.5s ease;
}

.side-bar:hover {
  width: 250px;
}

.side-bar--toggle {
  width: 250px;
}

.side-bar__header {
  width: 100%;
  text-align: center;
}

#toggle-sidebar,#close-sidebar {
  border-top-left-radius:10px ;
  border-top-right-radius: 10px;
  padding :0px 5px;
  width: 100%;
  line-height: 60px;
}

.side-bar--open {
  position: initial;
}

.open {
  display: block;
}

.open-flex {
  display: flex;
}

.close {
  display: none;
}

.side-bar__menu-btn {
  width: 100%;
  line-height: 60px;
  padding: 5px 8px;
}

.side-bar__menu-btn:hover {
  cursor: pointer;
}

.side-bar__list {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top:0px;
  left: 0px;
  padding: 0;
  margin-top: 76px;
  list-style: none;
}

.side-bar__list::before {
  display: block;
  content:  "";
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
}

/* Item */
.side-bar__item {
  margin: 16px 8px;
  padding: 10px 5px;
  font-weight: 900;
  position: relative;
  transition: all 0.9s ease;
  background: linear-gradient(to left, #fff 50%, #242424 50%) right;
  background-size: 300% 100%;
  border-radius: 5px;
}

.side-bar__item>a>span {
  transition: all 0.9s ease;
}

.side-bar__item:hover {
  color:#fff;
  background-position: left;
}

.side-bar__item:hover>a>span {
  color:#fff;
}

.side-bar__item--active:hover {

}

.side-bar__item>a {
  position: relative;
  width: 100%;
  display: flex;
  color: var(--text-color);
  text-align: center;
  transition: all 0.5s ease;
}

.item__icon {
  display: block;
  min-width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin-left: -8px;
}

.side-bar .side-bar__item--active {
  box-shadow: #f8f8f8 0px 9px 8px 2px;
  padding: 12px 5px;
  background-position: left;
  transition:border 0.5s ease;
}

.side-bar__item--active>a>span {
  color: #fff;
  font-size: large;
}

.item__title {
  display: block;
  padding-left: 10px;
  min-width: 60px;
  height: 20px;
  line-height: 20px;
}


/* Content------------- */

.content.content--toggle {
  margin-left: 280px;
  transition: margin 0.5s ease;
}

.content {
  margin-left: 100px;
  transition: margin 0.5s ease;
}

.shadow-wrap {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
               rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container {
  margin: 20px 40px;
  /* height: 100vh; */
  padding: 10px 16px;
  background: var(--theme-color);
  border-radius: 5px;
}

.content__header {
  display: flex;
  justify-content: space-around;
  padding: 8px 16px;
  border-bottom: rgb(233, 233, 233) 1px solid;
}

 /* Header  */
.header__text {
  font-size: 2.8rem;
  text-transform: uppercase;
  line-height: 80px;
  text-align: center;
}

 /* Body  */

.content__body {
  padding: 8px 0; 
}

.body__util {
  background-color: transparent;
}

.select {
  display: inline-block;
  padding: 5px 6px;
  border-radius: 5px;
  border: 2px solid #000;
}

.select:focus, .search-input:focus {
  border :2px solid #cc2424;
}

.show-select {

}

.search-input {
  flex: 1;
  border: none;
  padding: 3.5px 6px;
  height: 100%;
  border-radius: 0 1px 1px 0;
}

.search-bar {
  margin-left: 25px;
  display: flex;
  align-items: center;
  width: 50%;
  border: solid 3px var(--text-color);
  border-radius: .3rem;
}

.search-bar > i {
  color: #fff;
  background-color: var(--text-color);
  padding: 5px 10px;
  font-size: 2rem;
  border-radius: 1px;
}

.content__table {
  background-color: #f5f5f5;
  overflow: hidden;
}

.table--bordered {
  border: 3px solid #242424;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
}

.row.js-mid .col {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.table__header {
  text-transform: uppercase;
  height: 32px;
}

.row.table__header .col {
  text-align: center;
}

.row.table__row {
  border-top: solid 2px #242424;
  transition: all 0.75s ease-out;
}

.row.table__row .col {
  margin: 8px 0;
}

.col.desc {
  align-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.product__img{
  max-width: 75%;
  margin: 0 auto;
}


.table__add-btn {
  color: #fff;
  border-left: 3px solid #111111;
  border-right: 3px solid #111111;
  border-bottom: 3px solid #111111;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to left,#242424 50% , #cc2424 50%)right;
  background-size: 200% 200%;
  width: 100%;
  padding: 16px 0px;
  font-size:medium;
  text-transform: uppercase;
  transition: all 0.75s ease-in-out;
}

.table__add-btn > i {
  margin-left: 20px;
}

.table__add-btn:hover {
  background-position: left;
}

.table__del-btn {
  color: #fff;
  background:linear-gradient(to left,#242424 50%,#cc2424 50%)right;
  background-size: 300% 100%;
  padding: 8px 16px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all .5s ease-in-out;
}

.table__del-btn:hover {
  padding: 12px 16px;
  background-position: left;
}

.table__fix-btn {
  color: #fff;
  padding: 8px 16px;
  background:linear-gradient(to right, #242424 50%,#059862 50%)left;
  background-size: 300% 100%;
  background-position: left;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: all .5s ease-in-out;
  transform-origin: left;
}

.table__fix-btn:hover {
  background-color: #059862;
  padding: 12px 16px;
  background-position: right;
}

.table__fix-btn--active {
  width: 92px;
  border-radius: 8px;
}

.table__fix-submit {
  color: #fff;
  padding: 8px 16px;
  background: linear-gradient( to left,#111111 50% ,#17d08c 50% )right;
  background-size: 200% 100%;
  border-radius: 5px;
  border:none;
  transition:  all 1.2s ease;
}

.table__fix-submit:hover {
  background-position: left;
}

@keyframes changeColor{

  0% {
    background-color: #059862;
  }
  50%{
    background-color: #17d08c;
  }

  100% {
    background-color: #059862;
  
  }

}

.textarea {
  resize: none;
  border: none;
  background: transparent;
}

.textarea:focus {
  border : 1px solid #cc2424;
}

#productImg {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

#img-area :focus {
  border: 1px solid #cc2424;
}

@keyframes button-full {
  0% {

    width: 47px;

  }
  100% {

    width: 92px;
    border-radius: 8px;

  }
}

@keyframes button-shrink {
  0% {
    
    width: 92px;

  }
  100% {

    width: 47px;

  }
}

@keyframes hide-del  {
  0% {

    opacity: 1;

  }
  100% {

    opacity: 0.1;

  }
}

.order-full {
  background-color: #111111;
  color: #fff;
  border-radius: 20px;
  padding: 6px 12px;
}

.order-full>i {
  transform:rotate(0deg);
  transition: all 0.5s ease;
}

.order-full.active>i {
  transform: rotate(-90deg);
  margin-left: 1px;
  transition: all 0.5s ease;
}

@keyframes rotate-button {
  50% {transform: rotate(-90deg);}
}

.order-view {
  transition: all 1.3s ease;
  background: transparent ;
}

.details-view {
  height: 0px;
  transition: all .4s linear;
  opacity: 0;
  margin-bottom: 10px;
}
.details-view.active {
  overflow: hidden;
  transition: all .5s linear;
  opacity: 1;
}

.check {
  color: #fff;
  height: 30px;
}

.check.true {
  background: #059862;
  border-radius: 5px;
  border:none;
}

.check.false {
  background: #cc2424;
  border-radius: 5px;
  border:none;
}

.table__body > .table__row {
  justify-content: space-between;
  align-items: center;
}

.cart-detail__btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.row.order-view {
  margin: 16px 10px;
}

.order-view__header {
  margin-bottom: 10px;
}

/* footer  */
.footer {

 
}

/* Modal */

.modal {
  position: fixed;
  justify-content: center;
  align-items: center;
  top :0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#modal {
  background-color: #2b2b2b;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.input {
  padding: 4px 8px;
  border-radius: 5px;
  border:3px solid #e7e7e7;
  transition: border 0.3 ease;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, 
              rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.input:focus {
  border: 3px solid #111111;
}

.modal__text {
  margin-left: 24px;
  font-size: 15px;
  color: white;
}

.modal__container {
  border-radius: 5px;
  position: relative;
  margin: auto;
  max-width: 900px;
  height: auto;
  background-color: #fff;
}

.modal__header {
  position:relative;
}

.modal__header>.header__text {
  font-size: larger;
  font-weight: bolder;
  color: white;
}

#exit-add {
  border-radius: 4px;
  padding:6px 8px;
  width: 50px;
  border: solid 1px var(--theme-color);
  color: #fff;
  position: absolute;
  top:10px;
  right: 0;
  background: #242424 ;
  background-size: 200% 100%;
  transition: all 0.4s ease-in-out; 
}

#exit-add:hover {
  color:#fff;
  background-color: #cc2424;
}

#exit-add > i {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.modal__body {
 
}

.modal__left,.modal__right {
  /* margin: auto 0; */
  padding: 5px 10px;

}

#img-area {
  max-width: 50%;
  max-height: 50%;
}


#img-show {  
  margin:0 auto;
  width: 400px;
  min-height:400px ;
  border-radius: 5px;
  border: 3px solid #e7e7e7;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#img-show:active {

}

#img-preview {
  object-fit: cover;
   /* max-width: 80%;  
   max-height: 80%; */
   width: 400px;
   height: 400px;
   /* margin: 0 auto; */
}

#img-input {
  align-items: center;
  position: absolute;
  opacity: 0;
  top:52%;
  left:52%;
  transform:translate(-50%,-50%);
}

#upload-icon {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

#icon {

}

.icon__text {
 
}

#product__desc {
  resize: none;
  height: 186px;
}

.modal__footer {
  height: 50px;
}

#submit-prod {
  height: 40px;
  width: 150px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(to left,#cc2424 50%,#059862 50%)right;
  padding: 0px 12px;
  background-size: 300% 100%;
  border: solid 2px rgb(190, 190, 190);
  transition: all 0.3s ease-out;;
}

#submit-prod:hover {
  background-position: left;
  padding: 6px 22px;
}