/*Mobile*/
@media (max-width: 739px){
      /* backtoTop*/
    .back-to-top {
        display: none;
    }
    #img{
        width: 100%;
    }
    .slider {
        
        height: 500px;
        
    }
    .slider-img {
        position: absolute;
        top:18%;
        max-height: 27%;
    }

    /* Container*/
    #container{
        position: absolute;
        top:225px;
    }
    
}
/* TABLET */
@media (min-width: 740px) and (max-width: 1023px){
       /* backtoTop*/
    .back-to-top{
        display: none;
    }
    #img{
       
        width: 100%;
    }
    .slider {
        
        height: 350px;
        
    }
    .slider-img {
        top:0%;
        max-height: 85%;
}
/* Container*/
#container{
    position: relative;
    top: -62px;
}
}
/* big Width max */
@media (min-width: 1024px){
    #img{
        width: 100%;
    }
    .slider-img {

        position: absolute;
        top:0%;
        max-height: 80%;
    }
    #container{
        position: relative;
        top: -105px;
    }
    
    
}